body {
    margin: 0;
    background-color:#f1f1f1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: darkseagreen;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}


.contenedor{
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

.contenedor > h4 {
    display: block;
    padding: 25px 0;
    font-size: 24px;
    color: darkslategray;
    position: sticky;
    bottom: 62px;
    background-color: #f1f1f1;
}


footer {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(116, 116, 116);
    color: white;
}